/* Default styles for all screen sizes */
.nav-li {
  list-style: none;
  width: 100%;
  height: 4vh;
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.nav-li a {
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  color: black;
}

.nav-li a:hover {
  color: white;
  background: #7a6161;
  transition: 0.3s;
}

.images {
  display: flex;
  flex-wrap: wrap; /* Allow images to wrap on small screens */
  justify-content: center;
}

.images img {
  width: 100%;
  max-width: 300px;
  box-shadow: 3px 3px 3px 3px lightblue;
  margin: 2%;
  padding: 2%;
  border-radius: 20px;
}

.content {
  text-align: center;
  margin: 20px;
}

.content p {
  margin: 10px;
  font-weight: bold; /* Make text bold for better readability */
}

/* Media query for laptop view */
@media (min-width: 768px) {
  .images img {
    max-width: 500px;
  margin: 1%;
    padding: 1%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .images img {
    width: 90%;
    max-width: 90%;
    margin: 5px;
    padding: 5px;
    box-shadow: none;
    border-radius: 0;
  }

  .content {
    margin: 10px;
    text-align: center;
  }
}
