/* .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container .mini{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px 3px lightblue;
  width: 30%;
  height: 40vh;
}

.container .mini form{
  display: flex;
  flex-direction: column;
}

.container .mini form input, button{
  margin: 3%;
  outline: none;
  border: none;
  background: gainsboro;
  padding: 5px 40px;
  border-radius: 10px;
  transition: 0.3s ease;
}

.check-password p{
  margin-left: 6%;
  cursor: pointer;
}

.container .mini form span{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.container .mini form a {
  text-decoration: none;
  color: darkcyan;
  font-size: large;
  transition: 0.3s ease;
}

.container .mini form a:hover{
  color: black;
  transition: 0.3s ease;
} */




/* ------------------------------------------------------------------------------------------------------ */


.content-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}
.content-container .img{
  width: 50%;
}
.content-container .img img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.details{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details h2{
  margin-bottom: 20px;
}


.details form{
  width: 45%;
  display: flex;
  flex-direction: column;
}

.details form input{
  margin-bottom: 15px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 0px;
  width: 100%;
}

.details  form p{
  margin-bottom: 10px;
  cursor: pointer;
}

.details form button{
  outline: none;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.details form span{
  text-align: center;
}

.details form span a{
  color: black;

}
