a{
  text-decoration: none;
  color: black;
}
.cart {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation bar styles */
.nav {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: lightblue;
}

/* Style the Home link */
p {
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 10px;
  border-radius: 10px;
}



.myitems {
  margin-top: 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightblue;
  border-radius: 10px;
  margin: 10px;
  transition: 0.3s ease;
}

.myitems:hover {
  box-shadow: 3px 3px 3px 3px lightblue;  transition: 0.3s ease;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
  object-fit: cover;
}

li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 5px;
}

/* Button styles */
.button {
  width: 300px;
  display: flex;
  justify-content: space-evenly;

  padding: 5px;
}

.button button {
  background: lightgray;
  outline: none;
  border: none;
  padding: 5px;
  cursor: pointer;

}

